body {
    background: #eeeeee;
    font-family: tahoma, verdana, sans serif;
}

span {
    margin-right: 1rem;
}

canvas {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: #fafafa;
}

#volumeLabel {
    margin-left: 1rem;
}

section {
    margin-bottom: 1rem;
}

#buttons {
    margin-left: 3rem;
}

#play-button, #fs-button {
    font-size: 1.2rem;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

#fs-button {
    font-size: 1.2rem;
    width: 8rem;
}