body {
    user-select: none;
}

select {
    width: 15rem;
}

#logo {
    width: 40%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#content, #favorites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#wrapper {
    width: 60%;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
    background-color: lightgray;
}

#card-atk, #card-def {
    width: 15rem;
}

.section {
    padding: 0px;
    margin: 1rem;
}

.param {
    margin: 0.2rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}